body {
  background-image: url('https://media.giphy.com/media/1108D2tVaUN3eo/giphy-facebook_s.jpg');
  background-attachment: fixed;
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color:rgba(50, 20, 0, 0.6);
  color: white;
}

.well {
  background-color:rgba(50, 20, 0, 0.6);
  color: white;
  display: inline-block;
  text-align: left;
}

.btn {
  color: black;
}

.row {
  display: inline-block;
  text-align: left;
}

.showPrice {
  display: none;
  text-align: center;
}

#secondPie {
  display: none;
}

#thisOne {
    padding-right: 100px;
}

#buttonTwo {
  display: none;
}

#address {
  color: black;
}

.blink {
  background-color: yellow;
  color: red;
}

#gif{
  display: none;
  text-align: center;
}
